{{ define "main" }}

  {{ $data := index .Site.Data .Site.Language.Lang }}
  {{ "<!-- faq -->" | safeHTML }}
  <section class="section pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12" style="margin-top: -30px;">
        <h2  dir="rtl" align="right" class="section-title text-primary">{{ .Title }}</h2>
          {{ "<!-- accordion -->" | safeHTML }}
          <div  dir="rtl" align="right" id="accordion" class="collaps show">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /faq -->" | safeHTML }}

{{ end }}