{{ define "main" }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div  dir="rtl" align="right" class="col-12" style="margin-top: -30px;">
        <h2 class="section-title text-primary">{{ .Title }}</h2>
        {{ .Content }}
        <form style="margin-top: 30px;" action="{{ .Site.Params.contact_form_action | safeURL }}">
          <input type="text" id="name" name="name" placeholder="نام" class="form-control mb-4 shadow rounded-0">
          <input  type="email" id="mail" name="mail" placeholder="ایمیل" class="form-control mb-4 shadow rounded-0">
          <input  type="text" id="subject" name="subject" placeholder="موضوع"
            class="form-control mb-4 shadow rounded-0">
          <textarea  name="message" id="message" placeholder="پیام شما"
            class="form-control mb-4 shadow rounded-0"></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}

{{ end }}